.main-header {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    background-color: #b4deff;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

.name {
    margin-top: 0;
    color: white;
    font-size: larger;
}

img {
    display: flex;
}

@media only screen and (min-width:1024px) {
    .main-header {
        margin-left: 1.5em;
        width: 35%;
    }
}